@{
    ViewData["Title"] = "La Doctora";
}


<!-- Header Ends -->
<!-- Intro Section Starts -->
<section class="section-area intro-section">
    <!-- Nested Container Starts -->
    <div class="container">
        <!-- Nested Row Starts -->
        <div class="row">
            <!-- Intro Content Starts -->
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12 text-xs-center text-sm-center text-md-left">
                <h4 class="text-spl-color text-uppercase">ATENCIÓN PRIMARIA A LA FAMILIA </h4>
                <p>
                    Medicina General y Familiar, Gineco-Obstetricia, Pediatría y todo en atención primaria, agenda tu hora para garantizar tu atención.

                </p>
                <p>Somos prestadores de servicio FONASA</p>

            </div>
            <!-- Intro Content Ends -->
            <!-- Intro Form Starts -->
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="form-box-wrap text-light-color text-xs-center text-sm-center text-md-left">
                    <h3 class="text-uppercase text-center">Agendar Atención</h3>
                    <!-- Form Starts -->
                    <form id="formAgendar">
                        <div class="form-box">
                            <!-- First Name Filed Starts -->
                            <div class="form-group">
                                <label class="sr-only">Nombre</label>
                                <input name="nombre" type="text" required id="name" class="form-control animation" placeholder="Nombre">
                            </div>
                            <!-- First Name Filed Ends -->
                            <!-- Last Name Filed Starts -->
                            <div class="form-group">
                                <label class="sr-only">Apellido</label>
                                <input name="apellido" type="text" required id="name" class="form-control animation" placeholder="Apellido">
                            </div>
                            <!-- Last Name Filed Ends -->
                            <!-- Email Filed Starts -->
                            <div class="form-group">
                                <label class="sr-only">Correo :</label>
                                <input name="correo" type="email" required id="email" class="form-control animation" placeholder="Correo">
                            </div>
                            <!-- Email Filed Ends -->
                            <!-- Phone Number Filed Starts -->
                            <div class="form-group">
                                <label class="sr-only">Telefono :</label>
                                <input name="telefono" type="text" required id="phone" class="form-control animation" placeholder="Teléfono">
                            </div>

                            <div class="form-group">
                                <label class="sr-only">Día a agendar</label>
                                <input name="dia" type="text" readonly id="day" 
                                       onchange="getHours(this.value)" required
                                       class="form-control animation" placeholder="Día a agendar">
                            </div>

                            <div class="form-group">
                                <label>Hora a agendar</label>
                                <select name="hora" required  class="form-control" id="hours" disabled></select>
                            </div>

                            <button id="btnSubmit" type="submit" class="btn btn-1 btn-block text-uppercase animation">Agendar</button>
                        </div>
                    </form>
                    <!-- Form Ends -->
                </div>
            </div>
            <!-- Intro Form Ends -->
        </div>
        <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
</section>
<!-- Intro Section Ends -->
<!-- Program Section Starts -->
@section Scripts {
    <script>
        $.get("/hora").done(data => {
            $("#day").datepicker({
                dateFormat: 'yy-mm-dd',
                beforeShowDay: function (date) {
                    let day = formatDate(date);
                    console.log(day);
                    if (data.includes( day  )) {

                        return [true, ''];
                    }
                    return [false, ''];
                }
            });
        });

        function getHours(day) {
            $("#hours").html("");
            $("#hours").prop("disabled", false);
            $.get("/hora/details?dia=" + day).done(data => {
                let html = "";
                for (let item of data) {
                    console.log(item);
                    html += "<option>"+ item +"</option>";
                }
                $("#hours").html(html);
            });
        }

        $('#formAgendar').on('submit', function (e) {
            $("#btnSubmit").html("Agendando...");
            $("#btnSubmit").prop("disabled", true);
            e.preventDefault();

            Swal.fire({
                title: 'Confirmación',
                text: "¿Está seguro de agendar esta hora?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/hora/create',
                        type: 'post',
                        data: $('#formAgendar').serialize(),
                        dataType: 'json',
                        success: function (data) {
                            Swal.fire("Hora agendada con éxito");
                            $("#hours").html("");
                            $("#day").val("");
                            $("#btnSubmit").html("Agendar");
                            $("#btnSubmit").prop("disabled", false);
                        }
                    });
                } else {
                    $("#btnSubmit").html("Agendar");
                    $("#btnSubmit").prop("disabled", false);
                }
            });

        });

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }
    </script>
}
